
.CustomPaginationActionsTable-root-25 {
    width: 94% !important;
    margin-top: -25px !important;
    margin-left: -24px !important;
}
.MuiTablePagination-toolbar-73 {
    padding-right: 88px !important;
}
.CustomPaginationActionsTable-tableWrapper-27 { 
    /* scrollbar down removed */
    overflow-x: hidden !important; 
} 
.MuiTableCell-numeric-66 {
    text-align: left !important;
}
.MuiTableCell-root-62:last-child {
    padding-right: 55px !important;
}
.TablePaginationActions-root-113 {
    margin-left: 0px !important;
}
.boldHeading {
    font-size: 15px;
}